/*=================*/
/* BEGIN FRAMEWORK */

/*  WARNING: add to HTML: <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0" />  */

/* BEGIN DEBUG */
.debug .container {
  background-color: red;
}

.debug .container [class*="col-"] {
  background-color: #ffc0cb;
  border: 1px solid blue;
}

.debug .container [class*="col-"]> .container {
  height: 100%;
}

.debug .container [class*="col-"]> .container [class*="col-"] {
  background-color: #f07f80;
  border: 1px solid #fff;
  height: 100%;
}
/* END DEBUG */

/* BEGIN COMMON RULES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.container::after {
  content: '';
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
}
/* END COMMON RULES */


/* LARGE DEVICE MEDIA QUERY  */
@media screen and (min-width:992px) {
  .col-lg-1    { width: calc((100%/12) * 1); }
  .col-lg-2    { width: calc((100%/12) * 2); }
  .col-lg-3    { width: calc((100%/12) * 3); }
  .col-lg-4    { width: calc((100%/12) * 4); }
  .col-lg-5    { width: calc((100%/12) * 5); }
  .col-lg-6    { width: 50%; } /* 50% column */
  .col-lg-7    { width: calc((100%/12) * 7); }
  .col-lg-8    { width: calc((100%/12) * 8); }
  .col-lg-9    { width: calc((100%/12) * 9); }
  .col-lg-10   { width: calc((100%/12) * 10); }
  .col-lg-11   { width: calc((100%/12) * 11); }
  .col-lg-12   { width: 100%; } /* 100% column */

  /* large device Offset */
  .col-lg-offset-1  { margin-left: calc((100%/12) * 1); }
  .col-lg-offset-2  { margin-left: calc((100%/12) * 2); }
  .col-lg-offset-3  { margin-left: calc((100%/12) * 3); }
  .col-lg-offset-4  { margin-left: calc((100%/12) * 4); }
  .col-lg-offset-5  { margin-left: calc((100%/12) * 5); }
  .col-lg-offset-6  { margin-left: 50%; } /* 50% offset */
  .col-lg-offset-7  { margin-left: calc((100%/12) * 7); }
  .col-lg-offset-8  { margin-left: calc((100%/12) * 8); }
  .col-lg-offset-9  { margin-left: calc((100%/12) * 9); }
  .col-lg-offset-10 { margin-left: calc((100%/12) * 10); }
  .col-lg-offset-11 { margin-left: calc((100%/12) * 11); }

  .lg-display-none { display: none; }
}

/* MEDIUM DEVICE MEDIA QUERY  */
@media screen and (min-width:768px) and (max-width:991px) {
  .col-md-1    { width: calc((100%/12) * 1); }
  .col-md-2    { width: calc((100%/12) * 2); }
  .col-md-3    { width: calc((100%/12) * 3); }
  .col-md-4    { width: calc((100%/12) * 4); }
  .col-md-5    { width: calc((100%/12) * 5); }
  .col-md-6    { width: 50%; } /* 50% column */
  .col-md-7    { width: calc((100%/12) * 7); }
  .col-md-8    { width: calc((100%/12) * 8); }
  .col-md-9    { width: calc((100%/12) * 9); }
  .col-md-10   { width: calc((100%/12) * 10); }
  .col-md-11   { width: calc((100%/12) * 11); }
  .col-md-12   { width: 100%; } /* 100% column */

  /* Medium device Offset */
  .col-md-offset-1  { margin-left: calc((100%/12) * 1); }
  .col-md-offset-2  { margin-left: calc((100%/12) * 2); }
  .col-md-offset-3  { margin-left: calc((100%/12) * 3); }
  .col-md-offset-4  { margin-left: calc((100%/12) * 4); }
  .col-md-offset-5  { margin-left: calc((100%/12) * 5); }
  .col-md-offset-6  { margin-left: 50%; } /* 50% offset */
  .col-md-offset-7  { margin-left: calc((100%/12) * 7); }
  .col-md-offset-8  { margin-left: calc((100%/12) * 8); }
  .col-md-offset-9  { margin-left: calc((100%/12) * 9); }
  .col-md-offset-10 { margin-left: calc((100%/12) * 10); }
  .col-md-offset-11 { margin-left: calc((100%/12) * 11); }

  .md-display-none { display: none; }
}

/* SMALL DEVICE MEDIA QUERY */
@media all and (max-width:767px) {
  .col-xs-1    { width: calc((100%/12) * 1); }
  .col-xs-2    { width: calc((100%/12) * 2); }
  .col-xs-3    { width: calc((100%/12) * 3); }
  .col-xs-4    { width: calc((100%/12) * 4); }
  .col-xs-5    { width: calc((100%/12) * 5); }
  .col-xs-6    { width: 50%; } /* 50% column */
  .col-xs-7    { width: calc((100%/12) * 7); }
  .col-xs-8    { width: calc((100%/12) * 8); }
  .col-xs-9    { width: calc((100%/12) * 9); }
  .col-xs-10   { width: calc((100%/12) * 10); }
  .col-xs-11   { width: calc((100%/12) * 11); }
  .col-xs-12   { width: 100%; } /* 100% column */

  /* Small device Offset */
  .col-xs-offset-1  { margin-left: calc((100%/12) * 1); }
  .col-xs-offset-2  { margin-left: calc((100%/12) * 2); }
  .col-xs-offset-3  { margin-left: calc((100%/12) * 3); }
  .col-xs-offset-4  { margin-left: calc((100%/12) * 4); }
  .col-xs-offset-5  { margin-left: calc((100%/12) * 5); }
  .col-xs-offset-6  { margin-left: 50%; } /* 50% offset */
  .col-xs-offset-7  { margin-left: calc((100%/12) * 7); }
  .col-xs-offset-8  { margin-left: calc((100%/12) * 8); }
  .col-xs-offset-9  { margin-left: calc((100%/12) * 9); }
  .col-xs-offset-10 { margin-left: calc((100%/12) * 10); }
  .col-xs-offset-11 { margin-left: calc((100%/12) * 11); }

  .xs-display-none { display: none; }
}
/* END FRAMEWORK */
/*===============*/
