/*====================*/
/* BEGIN COMMON RULES */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #333;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

p {
  padding: 20px 0;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  font-family: sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.center {
  text-align: center;
}

/* END COMMON RULES */
/*==================*/

/*==============*/
/* BEGIN HEADER */
.fixed-row {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: #fff;
}

.logo {
  padding: 26px 0;
}

.logo img {
height: 16px;
}

nav,
.lang-setting {
text-align: right;
}

header ul {
  display: inline-block;
  line-height: 70px;
}

ul.lang-setting {
  margin-left: 10px;
}

header  li {
  display: inline-block;
}

header  a {
  color: #333;
}

header li>a {
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 11px;
  transition: all .3s ease;
}

nav li>a:hover {
  text-decoration: underline;
}

header li a:last-child {
  margin-right: 0;
}

.lang-setting  li a {
  border-right:  1px solid #333;
}

.lang-setting li:last-child a {
  border-right: none;
}

.hamburger-menu {
  font-size: 25px;
  line-height: 70px;
  text-align: right;
}

/* jumbotron */
.jumbotron {
  background-image: url(../img/header-jumbo.jpg);
  background-size: cover;
  height: 650px;
  position: relative;
  margin-top: 72px;
}

h1.slogan {
  font-size: 3em;
}

.teaser {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.teaser p {
  font-size: 1.1em;
}

.teaser img {
  margin: 0 10px;
}

/* BEGIN HAMBURGER MENU */
#overlay {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color:#fff;
  z-index: 100;
  overflow-x: hidden;
  transition: all .5s ease;
}

.vertical-menu {
  text-align: center;
  margin-top: 80px;
}

.vertical-menu li {
  display: block;
}

.vertical-menu a {
  font-size: 25px;
}

.v-menu-top-row {
  line-height: 70px;
}

.overlay-logo {
  text-align: left;
}

.v-menu-top-row img {
  height: 10px;
  vertical-align: middle;
}

.overlay-close{
  text-align: right;
}

.cls-btn {
  font-size: 20px;
  cursor: pointer;
}
/* END HAMBURGER MENU */


/* END HEADER */
/*============*/

/*============*/
/* BEGIN MAIN */

/* Products SECTION */
#products {
  padding: 20px 0;
}

.product-box {
  padding: 20px;
}

.product-card {
  padding: 70px 20px 40px;
  background-color: #fafafa;
}

.product-card img {
  height: 22px;
}

.product-card p {
  font-size: 1.5em;
}

.product-card a {
  font-size: 1.1em;
  color: blue;
}

.product-card a:hover {
  text-decoration: underline;
}

.product-card img.transport {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* Explanation SECTION */
.explanation-top {
  background-image: url(../img/HelbizBanner.jpg);
  background-size: cover;
  height: 450px;
  position: relative;
}

.explanation-top img {
  display: block;
  height: 600px;
  margin: 0 auto;
  position: relative;
  top: 30%;
}

.explanation-bottom {
  margin-bottom: 10px;
}

.explanation-bottom h2 {
  font-size: 2.2em;
}

.explanation-bottom p {
  padding: 0;
}

.explanation-bottom-1,
.explanation-bottom-2 {
padding: 80px;
}

/* Cards SECTION */
#cards {
  color: #fff;
}

.big-top-card,
.left-card,
.right-card{
  margin-bottom: 20px;
}

/* BIG top card */
.big-top-card {
  background-image: url('../img/ScooterHelbiz-2400.jpg');
  background-size: cover;
  background-position: center;
  margin: 20px 0;
  min-height: 410px;
}

.big-top-card .card-content {
  padding: 100px;
}

 .big-top-card .card-content h2 {
  font-size: 2.8em;
  font-weight: 500;
}

/* Card content */
.card-content {
  padding: 30px 20px 0;
  overflow: hidden;
}

.card-content h2 {
  font-size: 2.3em;
  font-weight: 500;
}
.card-content p {
  font-size: 1.3em;
}

.card-content a {
  color: #fff;
  margin: 0 20px;
}

/* left card */
.left-card {
  margin-right: 10px;
}

.left-card img {
  display: block;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  margin-bottom: -100px;
}

.left-card .card-content {
  min-height: 410px;
  max-height: 410px;
  background-image: linear-gradient(#415669, #263039);
  overflow: hidden;
}

/* right card */
.right-card {
  margin-left: 10px;
}

.right-card .card-content {
  background-image: url('../img/Cities-1500.jpg');
  background-size: cover;
  min-height: 410px;
}

/* social banner Section */
.social-banner {
  background-image: url(../img/Social-Banner.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  margin: 10px 0 20px;
  position: relative;
}

.social-tag {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px 140px;
}

.social-tag h2 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 20px;
}

.social-tag li {
  display: inline-block;
}

.social-tag a {
  color: #333;
}

.social-tag li>a {
  margin: 0 10px;
  font-size: 1.8em;
}
/* END MAIN */
/*==========*/

/*==============*/
/* BEGIN FOOTER */
footer {
  color: #fff;
  padding: 100px 0;
  background-color: #000;
}

footer .link-list {
  margin-left: 50px;
}

footer h3 {
  text-transform: uppercase;
  /* padding-left: 50px; */
  margin-bottom: 15px;
}

footer li {
  padding: 12px 0;
}

footer li > a {
  color: #696969;
  font-size: 0.9em;
}

/* footer middle */
.footer-middle {
  border-top: 1px solid #696969;
  border-bottom: 1px solid #696969;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px 0;
}

.footer-middle li {
  display: inline-block;
  padding: 0;
  margin-right: 20px;
}

.footer-middle li>a {
  font-size: 1.3em;
  color: #fff;
}

.footer-middle a {
  color:  #fff;
}

.bottom-apps {
  padding: 20px;
}

.bottom-apps img {
  margin: 0 10px;
}
/* END FOOTER */
/*============*/


/*==================================*/
/* BEGIN MEDIA QUERY  768px - 991px */
@media screen and (min-width:768px) and (max-width:991px) {

  /* Header 768 - 991 */
  h1.slogan {
    font-size: 3em;
  }

  .teaser img {
    margin: 5px 0;
  }

  /* Products Section 768 - 991 */
  .product-card p {
    font-size: 1.4em;
  }

  /* Explanation section 768 - 991 */
  .explanation-bottom {
    margin-top: 260px;
    text-align: center;
  }

  .explanation-bottom p {
    font-size: 1.2em;
  }

  .explanation-bottom h2 {
  font-size: 2.3em;
  }

  .explanation-bottom-1,
  .explanation-bottom-2 {
  padding: 10px;
  }

  /* cards section 768 - 991 */
  .big-top-card,
  .left-card,
  .right-card{
    margin: 10px;
  }

  .big-top-card .card-content {
    padding: 100px 150px;
  }

  .left-card .card-content img {
    height: 80%;
    width: 80%;
    margin-bottom: -100px;
  }

  /* footer 768 -991 */
  footer {
    padding: 50px 0;
  }

  footer .footer-middle {
    padding: 40px 0;
  }

  footer .link-list {
    margin-top: 50px;
    margin-left: 0px;
  }

  footer li > a {
    font-size: 1em;
  }

  .footer-middle li {
    margin-right: 30px;
  }

  .middle-link {
    margin-top: 30px;
  }

  .middle-link a {
    font-size: 1.1em;
  }

}
/* END MEDIA QUERY  768px - 991px */
/*================================*/

/*===========================*/
/* BEGIN MEDIA QUERY < 768px */
@media all and (max-width:767px) {

  body {
    overflow-x: hidden;
  }

  /* Header < 767 */
  h1.slogan {
    font-size: 2.3em;
  }

  .teaser p {
    font-size: 1.3em;
  }

  .teaser img {
    margin: 5px 0;
  }

  /* Products Section < 767 */
  .product-card p {
    font-size: 1.4em;
  }

  /* Explanation section < 767 */
  .explanation-bottom {
    text-align: center;
    margin-top: 180px;
  }

  .explanation-bottom h2 {
    font-size: 2.4em;
  }

  .explanation-bottom p {
    font-size: 1.3em;
  }

  .explanation-top img {
    display: block;
    height: 480px;
    margin: 0 auto;
    position: relative;
    top: 35%;
  }

  .explanation-bottom-1,
  .explanation-bottom-2 {
  padding: 10px;
  }

  /* cards section < 767 */
  .big-top-card,
  .left-card,
  .right-card{
    margin: 10px 20px;
  }

  .big-top-card .card-content {
    padding: 90px;
  }

  .left-card img {
    height: 80%;
    margin-bottom: -100px;
  }

  /* footer < 767 */
  footer {
    padding: 50px 0;
  }

  footer .link-list {
    margin-top: 50px;
    margin-left: 0px;
  }

  footer .middle-link {
    margin-top: 30px;
  }

  .middle-link a {
    font-size: 1.2em;
  }

  footer li > a {
    font-size: 1.1em;
  }

  .footer-middle li {
    margin-right: 30px;
  }

}
/* END MEDIA QUERY < 768 */
/*=======================*/
