/*====================*/
/* BEGIN COMMON RULES */
body {
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  color: #333;
}

ul {
  list-style: none;
}

p {
  padding: 30px 0;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
}

.center {
  text-align: center;
}
/* END COMMON RULES */
/*==================*/

/*==============*/
/* BEGIN HEADER */

/* top navigation */
.logo {
  padding: 26px 0;
}

.logo img {
height: 16px;
}

nav,
.lang-setting {
text-align: right;
}

ul {
  line-height: 70px;
}

ul>li {
  display: inline-block;
}

a {
  color: #333;
}

li>a {
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 11px;
}

li a:last-child {
  margin-right: 0;
}

.lang-setting  li a {
  border-right:  1px solid #333;
}

.lang-setting li:last-child a {
  border-right: none;
}

.hamburger-menu {
  font-size: 25px;
  line-height: 70px;
  text-align: right;
}

/* jumbotron */
.jumbotron {
  background-image: url(../img/header-jumbo.jpg);
  background-size: cover;
  height: 650px;
  position: relative;
}

h1.slogan {
  font-size: 3em;
}

.jumbotron .teaser {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.teaser p {
  font-size: 1.1em;
}

/* END HEADER */
/*============*/

/*============*/
/* BEGIN MAIN */

/* Products SECTION */
#products {
  padding: 20px 0;
}

.product-box {
  padding: 20px;
}

.product-card {
  padding: 70px 0 40px 0;
  background-color: #fafafa;
}

.product-card img {
  height: 22px;
}

.product-card p {
  font-size: 1.5em;
}

.product-card a {
  font-size: 1.1em;
  color: blue;
}

.product-card a:hover {
  text-decoration: underline;
}

.product-card img.transport {
  display: block;
  height: 370px;
  margin: 0 auto;
}

/* Explanation SECTION */

.explanation-top {
  background-image: url(../img/HelbizBanner.jpg);
  background-size: cover;
  height: 450px;
  position: relative;
}

.explanation-top img {
  display: block;
  height: 600px;
  margin: 0 auto;
  position: relative;
  top: 30%;
}


.explanation-bottom h2 {
  font-size: 2.2em;
}

.explanation-bottom p {
  padding: 0;
}

.explanation-bottom-1,
.explanation-bottom-2 {
padding: 100px;
}

/* END MAIN */
/*==========*/

/*=============*/
/* MEDIA QUERY */
@media screen and (min-width:768px) and (max-width:991px) {
  .explanation-bottom {
    margin-top: 260px;
    text-align: center;
  }

  .explanation-bottom-1,
  .explanation-bottom-2 {
  padding: 10px;
  }
}

@media all and (max-width:767px) {
  .explanation-bottom {
    text-align: center;
    margin-top: 260px;
  }

  .explanation-bottom-1,
  .explanation-bottom-2 {
  padding: 10px;
  }
}
